The problem: Libcoap update Q-Block2 to Block2

@mrdeep1 
When create new context, I worked `coap_context_set_block_mode(context, COAP_BLOCK_USE_LIBCOAP)`.
However, when I send new request with Q-Block 2 option, Libcoap update Q-Block2 to Block2 in https://github.com/mrdeep1/libcoap/blob/q-block/src/net.c#L1130-L1140.

I worked debug log as below:
```
Jul 02 10:56:29.439 DEBG ******session->block_mode= 1 
Jul 02 10:56:29.439 DEBG ******session->block_mode & COAP_BLOCK_HAS_Q_BLOCK= 0
```

What should I do to this problem not occur?

Could you please help me.
Thank you.

You need to do `coap_context_set_block_mode(context, COAP_BLOCK_USE_LIBCOAP | COAP_BLOCK_TRY_Q_BLOCK)` in both DOTS client and DOTS server.  This then allows the client to try using Q-lock and and enables support for it in the server.

If you look at the man page `coap_block(3)` in this branch, this gives further information.

@mrdeep1 
Thank you for your answer.

> If you look at the man page coap_block(3) in this branch, this gives further information.

I saw coap_block(3) in the [coap_block.txt.in](https://github.com/mrdeep1/libcoap/blob/q-block/man/coap_block.txt.in) file.

In addition, I has problem as below:
- When I do `coap_context_set_block_mode(context, COAP_BLOCK_USE_LIBCOAP | COAP_BLOCK_TRY_Q_BLOCK)`. I send new NON request message with the Q-Block2's size is 1.
- However, Libcoap sends request that is  `v:1 t:CON c:GET i:c8b8 {01} [ Q-Block2:0/_/1024 ]` in source code [net.c#L1095-L1104](https://github.com/mrdeep1/libcoap/blob/q-block/src/net.c#L1095-L1104). The request of libcoap different from the request of client (` v:1 t:NON c:GET i:c609 {Token} [ Uri-Path, Q-Block2:0/M/16 ]`).

What should I do to this problem not occur?

Could you please help me.

[draft-ietf-core-new-block](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-4.1) has a requirement for determining whether the server supports Q-BLock or not
````
   With CoAP over UDP, the way a request message is rejected for
   critical options depends on the message type.  A Confirmable message
   with an unrecognized critical option is rejected with a 4.02 (Bad
   Option) response (Section 5.4.1 of [RFC7252]).  A Non-confirmable
   message with an unrecognized critical option is either rejected with
   a Reset message or just silently ignored (Sections 5.4.1 and 4.3 of
   [RFC7252]).  To reliably get a rejection message, it is therefore
   REQUIRED that clients use a Confirmable message for determining
   support for Q-Block1 and Q-Block2 Options.  This CON message can be
   sent under the base CoAP congestion control setup specified in
   Section 4.7 of [RFC7252] (that is, NSTART does not need to be
   increased (Section 7.1)).
````
So libcoap must sent out a CON packet as a one time test to see if the server supports the Q-Block functionality or not.  A quick test shows
````
$ examples/coap-client -L7 -b 16 -v9 -N -w coap://127.0.0.1/time 
Jul 02 10:24:44.725 DEBG ***127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : new outgoing session
Jul 02 10:24:44.725 DEBG sending CoAP request:
Jul 02 10:24:44.726 DEBG *  127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : sent 8 bytes
v:1 t:CON c:GET i:4fbd {01} [ Q-Block2:0/_/1024 ]
Jul 02 10:24:44.726 DEBG ** 127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : mid=0x4fbd: added to retransmit queue (2781ms)
Jul 02 10:24:44.726 DEBG timeout is set to 90 seconds
Jul 02 10:24:44.726 DEBG *  127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : received 150 bytes
v:1 t:ACK c:2.05 i:4fbd {01} [ Content-Format:text/plain, Max-Age:196607, Q-Block2:0/_/1024 ] :: 'This is a test server made with libcoap (see https://libcoap.net)\x0ACopyright (C) 2010--2021 Olaf Bergmann <bergmann@tzi.org> and others\x0A\x0A'

Note that this response is not sent back to the application

Jul 02 10:24:44.726 DEBG ** 127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : mid=0x4fbd: removed
Jul 02 10:24:44.726 DEBG ** 127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : lg_crcv 0x13fb500 initialized
Jul 02 10:24:44.726 DEBG *  127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : sent 12 bytes
v:1 t:NON c:GET i:4fbc {} [ Uri-Path:time, Q-Block2:0/M/16 ]
Jul 02 10:24:44.726 DEBG *  127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : received 25 bytes
v:1 t:NON c:2.05 i:4fbc {} [ Content-Format:text/plain, Max-Age:1, Q-Block2:0/_/16 ] :: 'Jul 02 09:24:44'
Jul 02 10:24:44.726 DEBG found Block option, block size is 16, block nr. 0
Jul 02 10:24:44.726 DEBG Client app version of updated PDU
v:1 t:NON c:2.05 i:4fbc {} [ Content-Format:text/plain, Max-Age:1 ] :: 'Jul 02 09:24:44'
Jul 02 10:24:44.726 DEBG ** process incoming 2.05 response:
Jul 02 09:24:44
Jul 02 10:24:44.726 DEBG ** 127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : lg_crcv 0x13fb500 released
Jul 02 10:24:44.726 DEBG ***127.0.0.1:44928 <-> 127.0.0.1:5683 UDP : session closed
````
I am not sure how else this CON test for functionality can be done.

@mrdeep1 
Thank you so much for your answer.
If I have any other problem. I will ask you later. Hope you support me.

@mrdeep1 

I have a problem as below:

- Client sends Get request with QBlock2 option.
- The server will response to client by function
 `coap_add_data_large_response(resource, session, request, response, query, media_tye, maxAge, etag,  len, data, NULL, NULL)`.
 The libcoap will handle `lg_xmit initialized`.
- When client receives the data that is successful. However, the libcoap doesn't release `lg_xmit`.

How should I do to the libcoap can release `lg_xmit`.

Could you please help me.
Thank you.


There should be an idle timer that cleans up outstanding lg_xmit (checked every time coap_io_process() is called) - which has to hang around for a short while incase there are some packet retransmissions.  I will look at the code later today in case there is a bug here

@mrdeep1 
Thank you for your answer.

Yes, there was an issue - also in the general libcoap code where lg_xmit was not getting released when the server was sending Q-BLock2.  It now should be released 8 seconds after the transmit of the last block.

The libcoap PR has had a force update https://github.com/obgm/libcoap/commit/0277d3f313f2df1f2ede9f9bc634201ff918cc0d to the code which is ready for you to try out.

@mrdeep1 
Thank you so much.
I checked it. `lg_xmit` is released.

@mrdeep1 

[Section 10.2.3](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.3) and [Section 10.2.4](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.4) only support for `Observe triggered`, but doesn't support for `Get request`. Is it correct?

Could you please confirm it.
Thank you.

@mrdeep1 

In case [Section 10.2.4](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.4), Now, I see the libcoap work `observe trigger` as below:
```
       CoAP        CoAP
       Client      Server
         |          |
         |     [[Observe triggered]]
         |<---------+ QB2:0/1/32
         |<---------+ QB2:1/1/32
         |<---------+ QB2:2/1/32
         |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]
         |     [[Client realizes blocks are missing and asks for the
         |       missing ones in one go by setting the M bit]]
         +--------->| GET /path QB2:3/0/32 to QB2:17/0/32
         |<---------+ QB2:3/1/32
         |<---------+ [[Payloads 4 - 11 not detailed]]
         |<---------+ QB2:12/1/1024
      [[MAX_PAYLOADS_SET has been received]]
         |     [[MAX_PAYLOADS_SET acknowledged by client using 'Continue'
         |       Q-Block2]]
         +--------->| GET /path QB2:10/1/32
         |<---------+ QB2:10/1/32
         |<---------+ [[Payloads 11 - 16 not detailed]]
         |<---------+ QB2:17/0/1024
      [[Body has been received]]
         |          |
```
(1) When `observe triggered`, Server notify data with Q-Block2 Option and `Block.num from 0 to 17` .
(2) Libcoap's client side receives `Block.num from to 0 to 2` and miss `Block.num from 3 to 17`.
(3) After that,  Libcoap's client side sends the request  with `Block.num from 3 to 14 and Block.M is 0` to get the missing block .
(4) Libcoap's server side responses `Block.num from 3 to 12` (doesn't `from 3 to 9`).
(5) Libcoap's client side receives `Block.num from 3 to 12`. And it sends "Continue" request with `Block.num is 10`.
(6) Libcoap's server side responses `Block.num from 10 to 17`.
(7) Libcoap's client side receives `Block.num from 10 to 17`.

In (5) and (7),  existed Block.num is 10, 11, 12 --> Libcoap's client side display message "large body receive internal issue
" for these Block.num. So, The Libcoap work as above is Okay or not Okay.

Could you please confirm it.
Thank you.

GET and FETCH work fine without Observe - the examples included Observe to show how the additional unsolicited responses are handled as well as the initial response (which shows how it works whether Observe is used or not)

Libcoap hould he correctly handling things as per example.  I used libcoap to generate the packets and derived the examples from them after checking things were happening as expected.

I will check into why we are now getting the internal when back at my desk later today

@mrdeep1 
Thank you for you answer.

"large body receive internal issue" should be fixed now.  The number of Q-Blocks re-requested is now properly constrained to a MAX_PAYLOADS_SET as per draft.

@mrdeep1 

I not found obgm@0277d3f  in repository of `obgm`.
So I can't pull it from `obgm/libcoap`.

Could you please help me.
Thank you.

The latest q-block commit is https://github.com/obgm/libcoap/commit/c8601a096b88144225d79010b0d7307696f81b3a

@mrdeep1 

Thank you for your answer.

> The latest q-block commit is [obgm@c8601a0](https://github.com/obgm/libcoap/commit/c8601a096b88144225d79010b0d7307696f81b3a)

In case [Section 10.2.4](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.4), Now, I see the libcoap work `observe trigger` as below:

```
       CoAP        CoAP
       Client      Server
         |          |
         |     [[Observe triggered]]
         |<---------+ QB2:0/1/32
         |<---------+ QB2:1/1/32
         |<---------+ QB2:2/1/32
         |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]
         |     [[Client realizes blocks are missing and asks for the
         |       missing ones in one go by setting the M bit]]
         +--------->| GET /path QB2:3/0/32 to QB2:9/0/32
         |<---------+ QB2:3/1/32
         |<---------+ [[Payloads 4 - 8 not detailed]]
         |<---------+ QB2:9/1/1024
      [[MAX_PAYLOADS_SET has been received]]
         |     [[MAX_PAYLOADS_SET acknowledged by client using 'Continue'
         |       Q-Block2]]
         +--------->| GET /path QB2:10/1/32
         |<---------+ QB2:10/1/32
         |<---------+ [[Payloads 11 - 16 not detailed]]
         |<---------+ QB2:17/0/1024
         [[Client continues ask for the missing ones in one go by setting the M bit]]
         +--------->| GET /path QB2:10/0/32 to QB2:17/0/32
         |<---------+ QB2:10/1/32
         |<---------+ [[Payloads 11 - 16 not detailed]]
         |<---------+ QB2:17/0/1024
      [[Body has been received]]
         |          |
```

(1) When `observe triggered`, Server notify data with Q-Block2 Option and `Block.num from 0 to 17` .
(2) Libcoap's client side receives `Block.num from to 0 to 2` and miss `Block.num from 3 to 17`.
(3) After that,  Libcoap's client side sends the request  with `Block.num from 3 to 9 and Block.M is 0` to get the missing block of (2).
(4) Libcoap's server side responses `Block.num from 3 to 9`.
(5) Libcoap's client side receives `Block.num from 3 to 9`. And it sends "Continue" request with `Block.num is 10`.
(6) Libcoap's server side responses `Block.num from 10 to 17`.
(7) Libcoap's client side receives `Block.num from 10 to 17`.
(8) Libcoap's client side sends the request  with `Block.num from 10 to 17 and Block.M is 0` to get the missing block (continue get missing block of (2)) .
(9) Libcoap's server side responses `Block.num from 10 to 17`.
(10) Libcoap's client side receives `Block.num from 10 to 17`.

In (7) and (10),  existed `Block.num from 10 to 17` --> Libcoap's client side display message "large body receive internal issue
" for these Block.num.
I think the libcoap seems work not Okey.

Could you please confirm it.
Thank you.


Sorry about this. Good you are testing things out. The failure scenario I was testing against was slightly different.  I will check your scenario out and come up with other failure scenario tests.

@mrdeep1 
Thank you for your answer.

This is taking longer than I expected - the more boundary conditions I check, the more I find.

@mrdeep1 
I see.
After it is solved. Could you please notify for me.

Sure

I have pushed https://github.com/obgm/libcoap/commit/3ce00d81b57a6aac480572a594ceabe44bd553e2 . I will continue to check from my end.

@mrdeep1 
Thank you for your notification.
I will check it.

@mrdeep1 
I tested  obgm@3ce00d8. The result test as follow:
- [Section 10.2.1](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.1)
  - Get request: OK
  - Observe triggered: OK
- [Section 10.2.2](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.2)
  - Get request: OK
  - Observe triggered: Failed. The libcoap works as below:
     ```
       CoAP        CoAP
       Client      Server
         |          |
         |     [[Observe triggered]]
         |<---------+ QB2:0/1/32
         |<---------+ QB2:1/1/32
         |<---------+ [[Payloads 2 - 15 not detailed]]
         |<---------+ QB2:16/1/1024
         |<---------+ QB2:17/0/1024
      [[Body has been received]]
         |          |
    ```
      (1) Libcoap's server side response `Block.num from 0 to 17` (doesn't `Block.num from 0 to 9`).
      (2)  Libcoap's client side receives `Block.num from 0 to 17`. It is not send "Continue" request.

- [Section 10.2.3](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.3)
  - Observe triggered: OK
  
- [Section 10.2.4](https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-10.2.4)
  - Observe triggered: OK

@mrdeep1 

> Section 10.2.3 and Section 10.2.4 only support for Observe triggered, but doesn't support for Get request. Is it correct?

>GET and FETCH work fine without Observe - the examples included Observe to show how the additional unsolicited responses are handled as well as the initial response (which shows how it works whether Observe is used or not)

It's mean: `Section 10.2.3` and `Section 10.2.4` will not support `Get request`. Is it correct?

Could you please confirm it.
Thank you.

10.2.3 and 10.2.4 show when an Observe is triggered.  A response to a GET request (or the first response to a GET request with an Observe request) where there is loss would look something like 10.2.3 or 10.2.4 but with` [[Observe triggered]] `replaced with `NON GET /path M:0x01 T:0xf0 O:0 QB2:0/1/1024` - and either the `O:xxx` optons removed (GET with no Observe) or left as is (Get with Observe).

> (1) Libcoap's server side response Block.num from 0 to 17 (doesn't Block.num from 0 to 9).
> (2) Libcoap's client side receives Block.num from 0 to 17. It is not send "Continue" request.

I will check into this.

Code pushed. https://github.com/obgm/libcoap/commit/f9a52654f9ccc50de2579b08b2349ce610182977 . There still could be other issues (duplicate recovery packets sent) which I will look at later.

Just pushed https://github.com/obgm/libcoap/commit/69e8ca9099c7c8154852bcf311cfe2fb19b1ffea


@mrdeep1
Thank you so much.
> 10.2.3 and 10.2.4 show when an Observe is triggered. A response to a GET request (or the first response to a GET request with an Observe request) where there is loss would look something like 10.2.3 or 10.2.4 but with[[Observe triggered]]replaced with NON GET /path M:0x01 T:0xf0 O:0 QB2:0/1/1024 - and either the O:xxx optons removed (GET with no Observe) or left as is (Get with Observe).

I understood. I will test these section with GET request.

> Just pushed obgm@69e8ca9

I will test Q-Block2 for this commit.


@mrdeep1 

> > Just pushed [obgm/libcoap@69e8ca9](https://github.com/obgm/libcoap/commit/69e8ca9)
> 
> I will test Q-Block2 for this commit.

In this commit, I see some problem as below:
- In case PUT/GET request.
  - Client send the request with token `7266426435367469`
  ```
   Jul 12 09:19:15.622 DEBG PDU presented by app
   v:1 t:NON c:PUT i:8f95 {7266426435367469} 
   ```
  - However, Libcoap's client side send to Server with token `01000000000002`
  ```
  Jul 12 09:19:15.622 DEBG ** 127.0.0.1:50775 <-> 127.0.0.1:4646 DTLS: lg_crcv 0x7fbc5000b180 initialized
  Jul 12 09:19:15.622 DEBG *  127.0.0.1:50775 <-> 127.0.0.1:4646 DTLS: sent 590 bytes
  v:1 t:NON c:PUT i:8f95 {01000000000002} 
  ```
- In case Get request for section 10.2.4. I see libcoap seems be not work as section 10.2.4.
```
       CoAP        CoAP
       Client      Server
         |          |
         +--------->| GET /path QB2:0/1/32
         |<---------+ QB2:0/1/32
         |<---------+ QB2:1/1/32
         |<---------+ QB2:2/1/32
         |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]         
         +--------->| GET /path QB2:0/1/32 
         |<---------+ QB2:3/1/32
         |<---------+ [[Payloads 4 - 8 not detailed]]
         |<---------+ QB2:9/1/32
         +--------->| GET /path QB2:0/1/32 
         |<---------+ QB2:3/1/32
         |<---------+ [[Payloads 4 - 8 not detailed]]
         |<---------+ QB2:9/1/32
      [[Failed to received body]]
         |          |
```

Could you please confirm these and check for others case.
Thank you.


> 01000000000002

This is following https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block#section-6 and is stateless as per https://www.rfc-editor.org/rfc/rfc8974.html#name-stateless-clients (I have gone for 16 bits counter and 48 bits state base) to remove the need for tracking all of the used tokens.

>          +--------->| GET /path QB2:0/1/32 
>          |<---------+ QB2:3/1/32

I will check into this.  Please confirm that you did not really mean to say (3 instead of 0)
````
         +--------->| GET /path QB2:3/1/32 
         |<---------+ QB2:3/1/32
````

@mrdeep1 

> I will check into this. Please confirm that you did not really mean to say (3 instead of 0)

Sorry. The libcoap work as follow:
```
       CoAP        CoAP
       Client      Server
         |          |
         +--------->| GET /path QB2:0/1/32
         |<---------+ QB2:0/1/32
         |<---------+ QB2:1/1/32
         |<---------+ QB2:2/1/32
         |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]         
         +--------->| GET /path QB2:0/1/32 
         |<---------+ QB2:0/1/32
         |<---------+ [[Payloads 1 - 8 not detailed]]
         |<---------+ QB2:9/1/32
         +--------->| GET /path QB2:0/1/32 
         |<---------+ QB2:0/1/32
         |<---------+ [[Payloads 1 - 8 not detailed]]
         |<---------+ QB2:9/1/32
      [[Failed to received body]]
         |          |
```

Could you please check Section 10.2.3 and 10.3.4 for "Get request" and "Observe triggered". I think these seem work that are not Okay.
Thank you.

@mrdeep1 

> > 01000000000002
> 
> This is following https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block#section-6 and is stateless as per https://www.rfc-editor.org/rfc/rfc8974.html#name-stateless-clients (I have gone for 16 bits counter and 48 bits state base) to remove the need for tracking all of the used tokens.

Thank you for your answer.

Will do

>          |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]         
>          +--------->| GET /path QB2:0/1/3

2 

I am puzzled why you are not seeing
````
         |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]         
         +--------->| GET /path Q-Block2:3/_/64, Q-Block2:4/_/64, Q-Block2:5/_/64, Q-Block2:6/_/64, Q-Block2:7/_/64, Q-Block2:8/_/64, Q-Block2:9/_/64 
````
which is what my code is currently doing (it could use the M bit to indicate the first missing block but does not do so presently).  Othewise, if coding supported it, I wlould expect to see
````
         |     X<---+ [[Missing QB2: 3-17. Payloads 3 - 17 not detailed]]         
         +--------->| GET /path QB2:3/1/32
````
I will check into the otthers.

@mrdeep1 

QBlock 2 only support for NON request, doesn't support CON request. Is it correct?

Could you please confirm it.
Thank you

Q-Block is supported by NON, CON and Reliable (TCP/TLS) in libcoap and ietf draft.  CON and Reliable do not have significant benefits though.

Thank you for you answer.

@mrdeep1 

I have a problem as below:
(1) Client send PUT/GET CON request.
(2) Libcoap's client side doesn't send request to Server.
```
Jul 12 17:09:50.104 DEBG PDU presented by app
v:1 t:CON c:PUT i:da5b {32534d7459765367} [ Uri-Path, Content-Format] :: binary data length 86
<<data>>
Jul 12 17:09:50.104 DEBG ** 127.0.0.1:43036 <-> 127.0.0.1:4646 DTLS: lg_crcv 0x7fe2440091b0 initialized
Jul 12 17:09:50.104 DEBG ** 127.0.0.1:43036 <-> 127.0.0.1:4646 DTLS: mid=0xda5b: delayed
```

What should I do to Client can send CON request to Server.

Could you please confirm it.
Thank you.

> Jul 12 17:09:50.104 DEBG ** 127.0.0.1:43036 <-> 127.0.0.1:4646 DTLS: mid=0xda5b: delayed

This is telling me that you already have a CON that has not had a response yet outstanding - hence why this CON is being delayed.  I would need to see more of your log file to troubleshoot further.

I have just pushed https://github.com/obgm/libcoap/commit/192d39c0f9d6ac22cb4fdc77d8413b93dee1e0ae

10.2.3 is working fine for me.  libcoap currently does not have code for just setting the M bit as in 10.2.4.

I am not having any issues with my CON PUT, but am currently running some regression tests.

[By the way, I will be travelling tomorrow, and should be on holiday for the week, but will be able to occasionally help you if needed] 

@mrdeep1 

> This is telling me that you already have a CON that has not had a response yet outstanding - hence why this CON is being delayed. I would need to see more of your log file to troubleshoot further.

```
Jul 12 17:37:38.631 DEBG PDU presented by app
v:1 t:CON c:PUT i:62aa {32534d7459765367} [ Uri-Path,Content-Format ] :: binary data length 86
<<data>>
Jul 12 17:37:38.631 DEBG ** 127.0.0.1:54967 <-> 127.0.0.1:4646 DTLS: lg_crcv 0x7f0728009300 initialized
Jul 12 17:37:38.631 DEBG ** 127.0.0.1:54967 <-> 127.0.0.1:4646 DTLS: mid=0x62aa: delayed

```

It is all log of Libcoap's client side. 
Server doesn't receive request from Client. So, Server can't response for Client.

However, When Libcoap's client display as the below log, Client sends CON request that is successful.
```
Jul 12 17:42:22.702 DEBG ** 127.0.0.1:54967 <-> 127.0.0.1:4646 DTLS: mid=0x62aa: not transmitted after disconnect
INFO[2021-07-12 17:42:22] nack_handler gets fired with unsupported reason type : 3. 
```



I am having to assume that the client is a DOTS client.  When using libcoap's coap-client, I am not seeing this issue.  It is as if a previous CON request has been sent and the response to that previos request has not been responded to.  It is woth checking any previous mid= to see whether that has been responded to or not.

Because of `mid=0x62aa: delayed` this means that the CON packet is being delayed as there is an outstanding CON (as limited by NSTART https://datatracker.ietf.org/doc/html/rfc7252#section-4.7), the request is never sent, so the server will never respond.

@mrdeep1 
Thank you so much.


> INFO[2021-07-12 17:42:22] nack_handler gets fired with unsupported reason type : 3.

Are you using TCP rather than UDP ?

My regression tests are showing something strange on latest code - looking into it.

@mrdeep1 

> Are you using TCP rather than UDP ?

I am using DTLS.


OK - interesting - will look further as error code 3 should be TLS specific - which (D)TLS library are you using?

@mrdeep1 

> OK - interesting - will look further as error code 3 should be TLS specific - which (D)TLS library are you using?

I don't understand my question.
Now, I am using `coap_new_client_session` with proto that is COAP_PROTO_DTLS

Are you using OpenSSL, Mbed TLS, GnuTLS or TinyDTLS when building your libcoap library?
````
coap-client -? 2>&1 | head -10
````
will tell you the TLS library

@mrdeep1 

> Are you using OpenSSL, Mbed TLS, GnuTLS or TinyDTLS when building your libcoap library?

I am using OpenSSL.

```
coap-client v4.3.0 -- a small CoAP implementation
Copyright (C) 2010-2021 Olaf Bergmann <bergmann@tzi.org> and others

libcoap 4.3.0
TLS Library: OpenSSL - runtime 1.1.1g, libcoap built for 1.1.1g
(DTLS and TLS support; PSK, PKI, PKCS11 and no RPK support)
```

What this is looking like is delay occurs because DTLS has not completed the necessary securty handshakes to establish a DTLS session before sending the CON packet.  Looking at the OpenSSL support interface, error code 3 occurs when the DTLS session cannot be established.

@mrdeep1 

>I have just pushed obgm@192d39c
>10.2.3 is working fine for me. libcoap currently does not have code for just setting the M bit as in 10.2.4.

To test for Section 10.2.3. I added code into `coap_send_q_blocks` from line 1271
```
    coap_log(LOG_DEBUG,"****coap_send_q_blocks, block.num = %u \n", block.num);
    if ((block.num == 1 || block.num == 9 ) && test <= 2) {
      test++;
      block_pdu = t_pdu;
      continue;
    }
    if (!coap_add_block(block_pdu,
                        p->length,
                        p->data,
                        block.num,
                        block.szx)) {
      coap_log(LOG_WARNING, "Internal update issue data\n");
      coap_delete_pdu(block_pdu);
      coap_delete_pdu(t_pdu);
      break;
    }
```
So, I see section 10.2.3 work that not Okay.
What should I do to section 10.2.3 and 10.2.4 can work fine.

Could you please confirm it.
Thank you.

@mrdeep1 

> My regression tests are showing something strange on latest code - looking into it.

In obgm/libcoap@192d39c, When Client send Put CON request. The libcoap's client side only display as below:

```
Jul 12 18:48:04.235 DEBG ** 127.0.0.1:51984 <-> 127.0.0.1:4646 DTLS: mid=0x766c: delayed
```

Could you please check it.
Thank you.

I get (`delay`, followed later by `transmitted after delay`)
````
$ examples/coap-client -L1 coaps://127.0.0.1/time -b32 -T a -v7 -k 12345678 -u abc -m put -e abcde
Jul 12 12:55:55.566 DEBG ***127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: new outgoing session
Jul 12 12:55:55.566 DEBG CoAP Client restricted to (D)TLS1.2 with Identity Hint callback
Jul 12 12:55:55.566 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:before SSL initialization
Jul 12 12:55:55.566 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: sent 271 bytes
Jul 12 12:55:55.566 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write client hello
Jul 12 12:55:55.566 DEBG sending CoAP request:
````
````
Jul 12 12:55:55.566 DEBG ** 127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: mid=0xd7b6: delayed
````
````
Jul 12 12:55:55.566 DEBG timeout is set to 90 seconds
Jul 12 12:55:55.566 INFO ****** Next wakeup time 1.000000000
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: received 60 bytes
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write client hello
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:DTLS1 read hello verify request
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: sent 303 bytes
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write client hello
Jul 12 12:55:55.567 INFO ****** Next wakeup time 0.999000000
Jul 12 12:55:55.567 INFO ****** Next wakeup time 0.999000000
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: received 170 bytes
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write client hello
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS read server hello
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS read server key exchange
Jul 12 12:55:55.567 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS read server done
Jul 12 12:55:55.567 DEBG got psk_identity_hint: 'CoAP'
Jul 12 12:55:55.567 INFO Identity Hint 'CoAP' provided
Jul 12 12:55:55.568 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write client key exchange
Jul 12 12:55:55.568 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write change cipher spec
Jul 12 12:55:55.568 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: sent 130 bytes
Jul 12 12:55:55.568 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write finished
Jul 12 12:55:55.568 INFO ****** Next wakeup time 1.000000000
Jul 12 12:55:55.568 INFO ****** Next wakeup time 1.000000000
Jul 12 12:55:55.569 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: received 274 bytes
Jul 12 12:55:55.569 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS write finished
Jul 12 12:55:55.569 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS read server session ticket
Jul 12 12:55:55.569 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS read change cipher spec
Jul 12 12:55:55.569 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: SSL_connect:SSLv3/TLS read finished
Jul 12 12:55:55.569 DEBG ***EVENT: 0x01de
Jul 12 12:55:55.569 DEBG ***127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: session connected
````
````
Jul 12 12:55:55.569 DEBG ** 127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: mid=0xd7b6: transmitted after delay
````
````
Jul 12 12:55:55.569 DEBG *  127.0.0.1:56263 <-> 127.0.0.1:5684 DTLS: sent 48 bytes
v:1 t:CON c:PUT i:d7b6 {61} [ Uri-Path:time, Block1:0/_/32 ] :: 'abcde'
````


````
    coap_log(LOG_DEBUG,"****coap_send_q_blocks, block.num = %u \n", block.num);
    if ((block.num == 1 || block.num == 9 ) && test <= 2) {
      test++;
      block_pdu = t_pdu;
      continue;
    }
````
I assume that you are setting `test `as 0 initially, and that it is a static variable.  Things eventally recover in my code.

> I assume that you are setting test as 0 initially, and that it is a static variable. Things eventally recover in my code.

Yes.

Just pushed https://github.com/obgm/libcoap/commit/3eaf1bd9d1427119de3a3b9fb68dc306cfb06ea1 which does not have your test code in.  Regression tests looking good so far.

@mrdeep1 
Thank you so much.
What should I do to test for section 10.2.3 and 10.2.4 can work fine.

I did my testing using the -l (lower L) option for coap-server. For example `coap-server -l 1,9` would drop packets 1 and 9 and `coap-server -l 2-4` would drop packets 2, 3 and 4.

10.2.4 will need a code change probably in `coap_request_missing_q_block2()`.  I will see if I can get a chance to do this later today.

My regression tests have shown an issue far into the tests - looking at it now.

OK - regression test issue is that I left your `test ` packet drop code in place - re-running the regression which will take about an hour.

@mrdeep1 
Thank you so much.
I try use ` C.coap_debug_set_packet_loss(C.CString("9"))` to set the packet loss.

@mrdeep1 

> [By the way, I will be travelling tomorrow, and should be on holiday for the week, but will be able to occasionally help you if needed]

Wish you have a happy travel.


Thanks.

Regression test passed.  I will look at optionally getting libcoap to either use the M bit or specifiy missing blocks.

Just pushed https://github.com/obgm/libcoap/commit/de8bd4d9a8857603df22f4ed307bfc51f624e70f . You need to set the `COAP_BLOCK_USE_M_Q_BLOCK `bit in coap_context_set_block_mode() to test the 10.2.4 scenario - it will only set M if none of the  higher block numbers in the same payload_set have previously been received.  Don't set `COAP_BLOCK_USE_M_Q_BLOCK ` for 10.2.3 testing.

@mrdeep1 
I see.
Thank you so much.